.hero {

    .h1 {
      font-weight: 700;
      font-size: 11.3rem;

      span {
        color: #ffad0a;
      }
    }
      
    .lead {
      color: white;
      margin-bottom: 3rem;
      font-weight: 400;
    }

    .action-buttons {
      margin-bottom: 3rem;

      .btn {
        color: rgb(42, 42, 42);
        font-weight: bold;
      }
    }

    .row {
      padding-top: 32px;
    }

  }

  .right {
    flex: 0.3;

    .imgContainer {
      width: 450px;
      height: 450px;
      margin-top: 4rem;
      img {
        width: 100%;
      }
    }

}