.hero {
  margin-top: 70px;

    .h1 {
      font-weight: 700;

      span {
        color: #ffad0a;
      }
    }
      
    .lead {
      color: white;
      margin-bottom: 3rem;
      font-weight: 400;
    }

    .row {
      padding-top: 32px;
    }

  }

  .right {

    .imgContainer {
      width: 400px;
      height: 400px;
      margin-top: 2rem;

      img {
        width: 100%;
      }
    }

}