.assistance {
  padding: 64px 0;
  background-color: #241e6f;
  color: #fff;

  .h2 {
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 32px;

    span {
      color: #ffad0a;
    }
  }

  .lead {
    font-weight: 400;
  }

  .action-buttons {
    padding-top: 32px;
  }


}