.announcement {
  margin: 72px 0;
  .container {
  
    .h2 {
      margin: 32px 0;
      font-weight: 900;
      font-size: 3rem;
    }
  
    .lead {
      margin: 32px 0;
      font-weight: 400;
      font-size: 18px;
    }
  
    .btn-demo {
      margin: 32px 0;
      padding: 10px 28px;
      font-size: 18px;
      font-weight: 500;
    }
    
  }
}
